@import url(../App.css);

.divHome {
    padding: 1rem;
    text-align: center;

    width: fit-content;
    margin: 0 auto;

    input {
        text-align: center;
        width: 100%;
        padding: .5rem;
        margin: .5rem;
    }
}