.divSobre {
    padding: 1rem;
}

.divMainContactsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 1025px) {
        flex-direction: row;
    }
}

.divMainOneContact {
    padding: .7rem;
}