@import url(../App.css);

header {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1025px) {
        display: grid;
        grid-template-columns: 1.5fr 2fr 1.5fr;
        justify-content: space-between;
    }

    img {
        max-width: 100%;
        background: none;
        width: 150px;
    }
}

.divHeaderLeft {
    display: flex;
    align-items: center;
    @media(min-width: 1025px) {
        .imgIcons {
            display: none;
        }
    }
}

.divHeaderCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;

    @media (min-width: 1025px) {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            width: 100%;
        }
    }

    li {
        padding: .4rem;
        text-align: center;
    }
}

.divHeaderRight {
    display: flex;
    justify-content: right;
    .imgIcons {
        margin: .3rem;
    }
}

.imgIcons {
    width: 50px;
    height: 50px;
}